<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anushak.altaoss">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />

        <activity android:name=".FaceLogin"></activity>
        <activity android:name=".Security1" />
        <activity android:name=".Security" />
        <activity android:name=".Pending_Tickets" />
        <activity android:name=".Solved_Tickets" />
        <activity android:name=".Closed_Tickets" />
        <activity android:name=".Open_Tickets" />
        <activity android:name=".My_Task_single" />
        <activity android:name=".My_Task" />
        <activity android:name=".Single_Ticket" />
        <activity android:name=".Total_Tickets" />
        <activity android:name=".My_tickets" />
        <activity android:name=".DateWiseActivity" />
        <activity android:name=".VisitorUpdateActivity" />
        <activity android:name=".ShowSingleDelvisitor" />
        <activity android:name=".Delvisitors" />
        <activity android:name=".VisitorviewActivity" />

        <activity android:name=".MainActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EmployeeDashboard"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HrDashboard"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminDashboard"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactUs"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpDesk"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QueryForm"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPassword"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePassword"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfile"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyProject"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OurUpdates"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewUpdate"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Attendance"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Leave"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YearlyAttendance"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreatePassword"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyPay"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaySlips"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmpReimbursement"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayDocuments"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmpDirectory"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmpProjects"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowDetailsActivity"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmployeeAttendance"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmpPayroll"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayrollDocuments"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessagesActivity"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewSmsActivity"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chat"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Reimbursementdocuments"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmployeeDocuments"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Documents"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmpDoc"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Preferences"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Permissions"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewEmployeeForm"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UploadDocuments"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HrReimbursement"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReimbursementHr"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreatePayslips"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HrPayslips"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmployeeList"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Popup"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmpPayrollDoc"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rewards"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProjectsList"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmpProDetails"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RewardsUpdate"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RewardsSubmit"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QueryDashboard"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QueryStatus"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmpQuery"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PendingQueries"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResolvedQueries"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnResolvedQueries"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnableQueries"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity1"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsFeed"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Careers"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalendarActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JobDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Create_Job"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notifications"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Interviews_dashboard"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Interview_history"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Add_offcompus"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Add_reference"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Add_scheduled"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Add_walkin"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity android:name=".MainActivity" />
        <activity android:name=".Show_single_record" />
        <activity android:name=".Scheduled_reg" />
        <activity android:name=".Scheduled_single_record" />
        <activity android:name=".Update_Activity" />
        <activity android:name=".Update_scheduled" />
        <activity android:name=".Update_Offcompus" />
        <activity android:name=".Update_reference" />
        <activity android:name=".Walkin_reg" />
        <activity android:name=".Reference_single_record" />
        <activity android:name=".reference_reg" />
        <activity android:name=".Offcompus_reg" />
        <activity android:name=".Offcompus_single" />
        <activity android:name=".Selected_candidates" />
        <activity android:name=".Rejected_candidates" />
        <activity android:name=".Holiday" />
        <activity android:name=".ProjectPreferences" />
        <activity android:name=".EmpList" />
        <activity android:name=".EmpProjectPreferences" />
        <activity android:name=".NotificationsDashboard" />
        <activity android:name=".NotificationUpdate" />
        <activity android:name=".ReimbursementDashboard" />
        <activity android:name=".EmpVisitors" />
        <activity android:name=".Reimbusrment1" />
        <activity android:name=".Mobile" />
        <activity android:name=".GeneralExpenses" />
        <activity android:name=".Conveyances" />
        <activity android:name=".Admin_Visitor_dashboard" />
        <activity android:name=".ConveyancesUpdate" />
        <activity android:name=".GeneralUpdate" />
        <activity android:name=".EmpReimbursementDashboard" />
        <activity android:name=".not_confirmed_candidates" />
        <activity android:name=".Viewvistors" />
        <activity android:name=".Addvisitor" />
        <activity android:name=".MyDownloads" />
        <activity android:name=".TicketingDashboard" />
        <activity android:name=".Ticket_raising_form" />
        <activity android:name=".EmpVisitorsList" />
        <activity
            android:name=".BlankActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>